[Unit]
Description=Stahted
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/Desktop/stahted/stahted.py
Restart=on-abort
 		
[Install]
WantedBy=multi-user.target